.main {
  margin: 1rem 1.5rem;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  p {
    font-weight: bold;
  }
  select {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}
.main__grid {
  justify-content: center;
  justify-items: center;

  & .card {
    border-top: 1px solid $color-icons;
    padding-top: 2rem;
    margin-bottom: 6rem;
  }
  & .card:first-child {
    border-top: none;
  }
}

@media screen and(min-width:674px) {
  .main__header {
    justify-content: space-between;
    align-items: center;
  }
  .main__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    & .card {
      border-top: none;
    }
  }
}

@media screen and(min-width:1024px) {
  .main__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    & .card {
      border-top: none;
    }
  }
}
