.btn {
  padding: 1rem 2.5rem;
  min-width: 10ch;
  min-height: 44px;
  border: none;
  outline: none;
  font-size: 1.2rem;

  &-primary {
    background-color: $color-primary;
    color: white;
  }
  &-secondary {
    background-color: #343434;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.form .btn {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
}
