/* Callout  */
.callout {
  margin: 0;
}
.callout__stripe {
  background-color: $color-secondary;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  grid-gap: 20px;
  align-items: center;
  padding: 1rem 0;
}

.callout__stripe:hover {
  background-color: $color-primary;
}

.callout__img {
  max-width: 90px;
  max-height: 71px;
  padding: 1rem;
  justify-self: center;
}

.callout__text {
  color: white;
  font-size: small;
}

.callout__text h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.callout__text p {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  line-height: 1.1;
}

.callout__chevron {
  justify-self: flex-start;
}
