.form {
  padding: 2rem;
  background-color: #eeeeee;
  min-width: 349px;
}

.form__title {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.form__title h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.form__title span,
.form__footer span {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 1rem;
}

.form__footer {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.form__footer-left {
  margin-bottom: 0.8rem;
}
.form__footer-right {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: center;
}

.form__col1 {
  grid-template-columns: 100%;
}

.form__col1 .input-group > label {
  padding-right: 2.5rem;
}

.form__col2 {
  grid-template-columns: 30% 70%;
}

.form__col3 {
  grid-template-columns: 33.3% 33.3% 33.4%;
}
.form__col3 .input-group:first-child {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .form__title {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .form__footer {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  .form__footer-right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .form__footer-right span {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .form__col1 .input-group > label {
    padding-right: 1.5rem;
  }

  label {
    width: 100px;
  }

  .form__col2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .form__col3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .form__col3 .input-group:first-child {
    padding: 0;
  }
}
