.form {
  padding: 2rem;
  background-color: #eeeeee;
  min-width: 349px;

  &__title {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 1.5rem;
  }

  &__title h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__title span,
  &__footer span {
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 1rem;
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    &-left {
      margin-bottom: 0.8rem;
    }
    &-right {
      display: flex;
      flex-flow: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }
}

.form__col1 {
  grid-template-columns: 100%;
}

.form__col1 .input-group > label {
  padding-right: 2.5rem;
}

.form__col2 {
  grid-template-columns: 30% 70%;
}

.form__col3 {
  grid-template-columns: 33.3% 33.3% 33.4%;
}
.form__col3 .input-group:first-child {
  padding: 0 1rem;
}
