/* inputs  */

.input-group label {
  font-size: 1.2rem;
  padding-right: 1rem;
}

.input-group input {
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
}

.input-group {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
