:root {
  --color-primary: #d30018;
  --color-secondary: #343434;
  --color-icons: #a69494;
  --heading: black;
  --color-body: #3b3b3b;
  --unchecked-star: rgb(246, 246, 195);
  --font-family-primary: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica,
    sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography*/
::-moz-selection {
  background: var(--color-primary);
  color: #fff;
}
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-primary);
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--color-body);
}

::-webkit-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

:-ms-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

::-ms-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

::placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

/* Callout  */
.callout {
  margin: 0;
}

.callout__stripe {
  background-color: var(--color-secondary);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 60% 15%;
      grid-template-columns: 25% 60% 15%;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callout__stripe:hover {
  background-color: var(--color-primary);
}

.callout__img {
  max-width: 90px;
  max-height: 71px;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.callout__text {
  color: white;
  font-size: small;
}

.callout__text h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.callout__text p {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  line-height: 1.1;
}

.callout__chevron {
  justify-self: flex-start;
}

@media screen and (min-width: 768px) {
  .callout__img {
    max-width: 120px;
    max-height: 100px;
  }
  .callout__text h2 {
    font-size: 1.8rem;
  }
  .callout__text p {
    font-size: 1.6rem;
  }
}

.btn {
  padding: 1rem 2.5rem;
  min-width: 10ch;
  min-height: 44px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.form .btn {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
}

.form {
  padding: 2rem;
  background-color: #eeeeee;
  min-width: 349px;
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.form__title h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.form__title span,
.form__footer span {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 1rem;
}

.form__footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.form__footer-left {
  margin-bottom: 0.8rem;
}

.form__footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .form form {
    -ms-grid-columns: 15% 85%;
        grid-template-columns: 15% 85%;
  }
}

@media screen and (min-width: 620px) {
  .form form {
    -ms-grid-columns: 12% 88%;
        grid-template-columns: 12% 88%;
  }
}

/* inputs  */
.input-group label {
  font-size: 1.2rem;
  padding-right: 1rem;
}

.input-group input {
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
}

.input-group {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */