*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography*/
::-moz-selection {
  background: var(--color-primary);
  color: #fff;
}
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--color-body);
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

:-ms-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

::-ms-input-placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

::placeholder {
  font-size: 1.15rem;
  opacity: 0.5;
}

/* Callout  */
.callout {
  margin: 0;
}

.callout__stripe {
  background-color: var(--color-secondary);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 60% 15%;
      grid-template-columns: 25% 60% 15%;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.callout__stripe:hover {
  background-color: #d30018;
}

.callout__img {
  max-width: 90px;
  max-height: 71px;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.callout__text {
  color: white;
  font-size: small;
}

.callout__text h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.callout__text p {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  line-height: 1.1;
}

.callout__chevron {
  justify-self: flex-start;
}

.btn {
  padding: 1rem 2.5rem;
  min-width: 10ch;
  min-height: 44px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: #d30018;
  color: white;
}

.btn-secondary {
  background-color: #343434;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #d30018;
}

.form .btn {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
}

.form {
  padding: 2rem;
  background-color: #eeeeee;
  min-width: 349px;
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.form__title h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.form__title span,
.form__footer span {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 1rem;
}

.form__footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.form__footer-left {
  margin-bottom: 0.8rem;
}

.form__footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__col1 {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.form__col1 .input-group > label {
  padding-right: 2.5rem;
}

.form__col2 {
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.form__col3 {
  -ms-grid-columns: 33.3% 33.3% 33.4%;
      grid-template-columns: 33.3% 33.3% 33.4%;
}

.form__col3 .input-group:first-child {
  padding: 0 1rem;
}

/* inputs  */
.input-group {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group label {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

.input-group input {
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header {
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  min-width: 1348px;
}

.main {
  margin: 1rem 1.5rem;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.main__header p {
  font-weight: bold;
}

.main__header select {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.main__grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.main__grid .card {
  border-top: 1px solid #a69494;
  padding-top: 2rem;
  margin-bottom: 6rem;
}

.main__grid .card:first-child {
  border-top: none;
}

@media screen and (min-width: 674px) {
  .main__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .main__grid .card {
    border-top: none;
  }
}

@media screen and (min-width: 1024px) {
  .main__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .main__grid .card {
    border-top: none;
  }
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 95fr;
      grid-template-columns: 5fr 95fr;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar__both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.nav-bar__top {
  background-color: black;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__top .login {
  margin-left: auto;
}

.nav-bar__top a,
.nav-bar__top a:link,
.nav-bar__top a:visited,
.nav-bar__top a:active {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-bar__top a:hover {
  text-shadow: 0.5px 0.3px white;
}

.nav-bar__top .top__items {
  padding: 0.6rem 2rem 0.6rem 2rem;
}

/*nav BOTTOM*/
.nav-bar__bottom {
  color: black;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__bottom a:link,
.nav-bar__bottom a:visited,
.nav-bar__bottom a:active {
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 900;
}

.nav-bar__bottom a:hover {
  color: #d30018;
}

.nav-bar__bottom .bottom__items {
  padding: 2.5rem 2rem 1rem 3rem;
}

/*nav-bar ICONS */
.nav-bar__hide-bar {
  display: none;
}

@media screen and (max-width: 1044px) {
  .header {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    min-width: 768px;
  }
}

@media screen and (max-width: 1044px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar__both {
    display: none;
  }
  .nav-bar__hide-bar {
    padding: 1rem 2rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar__hide-bar span {
    text-align: center;
    padding: 2rem;
  }
  .nav-bar select {
    padding: 1.3rem;
    width: 500px;
    outline: none;
    border: none;
    background-color: lightgrey;
    border-radius: 25px;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar select {
    padding: 1rem;
    width: 400px;
  }
}

@media screen and (min-width: 1044px) {
  .callout__img {
    max-width: 120px;
    max-height: 100px;
  }
  .callout__text h2 {
    font-size: 1.8rem;
  }
  .callout__text p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1044px) {
  .form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
  }
  .form__footer {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
  }
  .form__footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__footer-right span {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1044px) {
  .form__col1 .input-group > label {
    padding-right: 1.5rem;
  }
  label {
    width: 100px;
  }
  .form__col2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .form__col3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .form__col3 .input-group:first-child {
    padding: 0;
  }
}

/*It should be called media instead card*/
.card {
  max-width: 315px;
  max-height: 625px;
}

.card__frame {
  max-width: 414px;
  max-height: 310px;
  position: relative;
}

.card__img {
  width: 100%;
}

.card__frame .card__img-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__frame-sub {
  color: lightgray;
  margin-top: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub__group1 {
  padding-left: 0.5rem;
}

.sub-numbers {
  font-size: 1.1rem;
}

.card__frame-sub .btn {
  padding: 1rem 1.2rem;
  min-width: 8ch;
  min-height: 30px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.card__main h2 {
  margin: 1.5rem 0;
  font-size: 2.2rem;
  text-align: center;
}

.card__main p {
  margin: -1rem 0 3rem 0;
  font-size: 1.6rem;
  line-height: 1.1;
}

.card__spec {
  font-size: 1.5rem;
}

.card__spec-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0.2rem 0;
}

.card__spec-row:last-child {
  margin-top: 3rem;
}

.card__spec-row .fas {
  color: #a69494;
}

.card__spec-price {
  font-size: 2rem;
}

.card__spec-price2 {
  font-size: 1.8rem;
}

.card__underline {
  text-decoration: underline;
}

.card__history .fas {
  font-size: 1.5rem;
}

.card__stars .fas {
  font-size: 1.1rem;
  margin-left: -4px;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__rating div {
  margin-left: 0.5rem;
}

.card .btn-secondary {
  margin-top: 3rem;
}
/*# sourceMappingURL=styles.css.map */