<div class="callout">
  <div class="callout__stripe">
    <img class="callout__img" src="/images/Group 5.png" alt="" />
    <div class="callout__text">
      <h2>Easy Steps to Buy online</h2>
      <p>Find the best option, buy online and receive it in your home.</p>
    </div>
    <img class="callout__chevron" src="/images/chevron-right.png" alt="" />
  </div>
  <div class="callout__stripe">
    <img class="callout__img" src="/images/clou_question.png" alt="" />
    <div class="callout__text">
      <h2>Tips and advices</h2>
      <p>Finance made easy for you.</p>
    </div>
    <img class="callout__chevron" src="/images/chevron-right.png" alt="" />
  </div>
  <div class="callout__stripe">
    <img class="callout__img" src="/images/car.png" alt="" />
    <div class="callout__text">
      <h2>Nissan approved cars</h2>
      <p>Extend warranty in a used Nissan.</p>
    </div>
    <img class="callout__chevron" src="/images/chevron-right.png" alt="" />
  </div>
</div>
